.title{
    text-align:center;
    font-family:'Poppins', sans-serif;
    font-size:130px;
}

.grid{
    display:grid;
    font-family:'Poppins',sans-serif;
    font-size:30px;
    padding-left:700px;
    font-weight:600;
    width:300px;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(1,50px);
}

.app{
    border: 2px solid black;
    height:300px;
    width:350px;
    border-radius:15px;
}

.ent{
    border: 2px solid black;
    height:300px;
    width:350px;
    border-radius:15px;
}

.des{
    border: 2px solid black;
    height:300px;
    width:350px;
    border-radius:15px;
}


#total{
    font-family:'Poppins', sans-serif;
    border:3px solid black;
    border-radius:25px;
   width:500px;
   height:400px;
   margin-left:1000px;
   margin-top:300px;
    font-size:100px;

}

#totalReset{
    margin-left:220px;
    transform:translate(1000px,-80px);
}
